$content-fontColor:#333;
$content-bgColor:rgb(95, 92, 92);
$content-notice-fontcolor:#777;
$search-bgColor:#f5f5f5;
$search-fontColor:#b7b7b7;
$medium-fontColor:#666;
$light-fontColor:#999;
$hightlight-fontColor:#e93b3b;
$btn-bgColor:#0091ff;
$bgColor:#fff;